<body>
<p>DSAdsadasd</p>

<section>

    <form class="example-form pb-5">

        <p class="text-center pt-3">
            Añadir nuevo Producto
        </p>

        
        <!--Nombre Producto-->
        <div class="mt-5 pb-2">
            <mat-form-field class="example-full-width">
                <mat-label>Producto</mat-label>
                <input matInput type="text" placeholder="Nombre del Producto"  id="producto" formControlName="producto" >
              </mat-form-field>
              
            </div>

        <!--Costo Producto-->
        <div class="mt-5 pb-2">
            <mat-form-field class="example-full-width">
                <mat-label>Costo</mat-label>
                <input matInput type="text" placeholder="Costo del Producto"  id="costo" formControlName="costo" >
              </mat-form-field>
              
            </div>

     <!--Imagen Producto-->
     <div class="mt-5 pb-2">
        <mat-form-field class="example-full-width">
            <mat-label>Imagen</mat-label>
            <input matInput type="text" placeholder="Imagen del Producto (URL) "  id="imagen" formControlName="imagen" >
          </mat-form-field>
          
        </div>
    

    <!--Añadir-->
    <div class="mt-5 pb-2 d-flex justify-content-center">
        <button class="form-control py-2"
        >Añadir</button>
        
        </div>


    </form>
</section>
</body>