body {
    background-image: url(https://images4.alphacoders.com/114/1144182.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
form {
    padding-top: 4em;
      width: 50em;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }