<body>
    <main class="d-flex justify-content-center">
    
        
<!-- Material Input - form -->
    <form class="example-form pb-5" [formGroup]="formLogin"  >

        <p class="text-center pt-3 ">
          <span> <mat-icon fontIcon="edit"></mat-icon></span>
          Inicia Sesión
          <span> <mat-icon fontIcon="edit"></mat-icon></span>
        </p>


        <!-- Email -->
        <div class="mt-5 pb-2">
        <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Admin"  id="email" formControlName="email" >
          </mat-form-field>
          


        </div>
        

        <br>
        <!-- Password -->
        <div>
        <mat-form-field class="example-full-width">
            
            <mat-label>Password</mat-label>
            <input matInput placeholder="123456" id="pass" formControlName="password">
          </mat-form-field>
      
        </div>

        <br>
        
<!-- /Material Input - form --> 
     

        <!--Buttton -->
        <div class="d-flex justify-content-center">
        <button class="form-control mt-2 py-2 mb-3" (click)="Logearse()"
        >Iniciar Sesión</button>

      
        
        </div>

        <div class="d-flex justify-content-center mt-4">
          <h5 class="rounded py-2">¿No estás registrado? <a style="color:#18275E" routerLink = "/" >Registrarse</a></h5>
        </div>
       
    </form>
</main>
</body>