body {
    background-image: url(https://images4.alphacoders.com/114/1144182.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


